{% extends "layout.html" %}
{% block title %}
Blog - Calango
{% endblock %}
{% block content %}
<div align="center">
  <h1>Blog</h1>
  <br>
<table class="tab-coment">
  <tr>
    <th class="coment" align="left">Comentarios</th>
    <th class="coment" align="right">Data</th>
  </tr>
{% for i in comentarios %}
  {% if i.ativo %}
  <tr>
  <td class="coment" id ="comentario"align="left">{{i.comentario}}</td>
  <td class="coment" id="data" align="center">{{i.data}}</td>
  </tr>
  {%endif%}
{%endfor%}
</table>



{% if user.is_authenticated %}

<form method="post" action="{% url 'comentario' %}">
  {% csrf_token %}
<br>
<h2>Deixe seu Comentário:</h2>
<br>
<input type="comentario" class="form-c" id="comentario" name="comentario" required>
<br>
<button type="submit" class="btn">Enviar</button>
</div>
</form>
{% endif %}
{% endblock %}

