{% extends "layout.html" %}
{% block title %}
Home - Calango
{% endblock %}
{% block content %}
{% load static %}
<head>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'><link rel="stylesheet" href="{% static 'blog/style.css'%}">
</head>
<body>
    <!-- partial:index.partial.html -->
    <div class="cont s--inactive">
      <!-- cont inner start -->
      <div class="cont__inner">
        <!-- el start -->
        <div class="el">
          <div class="el__overflow">
            <div class="el__inner">
              <div class="el__bg"></div>
              <div class="el__preview-cont">
                <h2 class="el__heading">Cerrado</h2>
              </div>
              <div class="el__content">
                <div class="el__text">Cerrado</div>
                <div class="el__close-btn"></div>
                <br>
                <br>
                <br>
                <br>
                <p>
                O Cerrado é um ecossistema extenso de clima tropical com estações bem definidas e diversas espécies de plantas e animais como Pequi, Ipê, Lobo-Guará e Tamanduá-Bandeira.
                <br>
                <br>
                <br>
                <br>
                </p>
                <p>
                Além de sua importância ecológica, o Cerrado desempenha um papel crucial na regulação do clima e no ciclo hidrológico do Brasil, influenciando o regime das águas e ajudando a manter a qualidade do solo.
                <br>
                <br>
                <br>
                <br>
                </p>
                <p>
                Os incêndios são uma característica natural do Cerrado, ocorrendo frequentemente e contribuindo para a manutenção da diversidade do bioma. Muitas plantas do Cerrado são adaptadas ao fogo, e algumas espécies até dependem dele para germinar ou se regenerar. O fogo ajuda a controlar a vegetação e a manter a dinâmica ecológica.
                <br>
                <br>
                <br>
                <br>
                </p>
                <p>
                No entanto, nos últimos anos, os incêndios no Cerrado têm se tornado mais intensos e frequentes devido a práticas humanas, como a expansão agrícola e a pecuária. Esses incêndios são muitas vezes provocados para limpar áreas para cultivo, e frequentemente saem de controle, resultando em danos significativos ao ecossistema. A perda de vegetação e a degradação do solo são algumas das consequências negativas, afetando a biodiversidade e os serviços ecossistêmicos do bioma.
                </p>
              </div>
            </div>
          </div>
          <div class="el__index">
            <div class="el__index-back"></div>
            <div class="el__index-front">
              <div class="el__index-overlay" data-index="1"></div>
            </div>
          </div>
        </div>
        <!-- el end -->
        <!-- el start -->
        <div class="el">
          <div class="el__overflow">
            <div class="el__inner">
              <div class="el__bg"></div>
              <div class="el__preview-cont">
                <h2 class="el__heading">Calango</h2>
              </div>
              <div class="el__content">
                <div class="el__text">Calango</div>
                <div class="el__close-btn"></div>
                <br>
                <br>
                <br>
                <br>
                <p>Calango é um sistema desenvolvido para monitoramento de incêndios no Distrito Federal, utilizando dados disponibilizados pelo INPE e SISDIA que podem ser visualisados em mapa ou gráficos.
                </p>
                <br>
                <br>
                <br>
                <br>
                <p>Desenvolvido com Django, HTML, CSS, Pandas, Streamlit e Plotly</p>
                </div>
            </div>
          </div>
          <div class="el__index">
            <div class="el__index-back"></div>
            <div class="el__index-front">
              <div class="el__index-overlay" data-index="2"></div>
            </div>
          </div>
        </div>

        <!-- el end -->
        
      </div>
      <!-- cont inner end -->
    </div>
      <!-- partial -->
        <script  >var $cont = document.querySelector('.cont');
            var $elsArr = [].slice.call(document.querySelectorAll('.el'));
            var $closeBtnsArr = [].slice.call(document.querySelectorAll('.el__close-btn'));
            
            setTimeout(function() {
              $cont.classList.remove('s--inactive');
            }, 200);
            
            $elsArr.forEach(function($el) {
              $el.addEventListener('click', function() {
                if (this.classList.contains('s--active')) return;
                $cont.classList.add('s--el-active');
                this.classList.add('s--active');
              });
            });
            
            $closeBtnsArr.forEach(function($btn) {
              $btn.addEventListener('click', function(e) {
                e.stopPropagation();
                $cont.classList.remove('s--el-active');
                document.querySelector('.el.s--active').classList.remove('s--active');
              });
            });</script>
      
      </body>
{% endblock %}
