<!DOCTYPE html>
<html class="navbar">
    <div id="theme-btn" class="far fa-moon"></div>
<head>
    <meta charset="utf-8"/>
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'blog/site.css' %}"/>
    <a class="navbar-brand" href="{% url 'home'%}">Home</a>
    <a class="navbar-brand" href="{% url 'home'%}">Dashboard</a>
    <a class="navbar-brand" href="{% url 'home'%}">Mapa</a>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.7/css/all.css">
</head>


<body>
<script>
const themeBtn = document.getElementById("theme-btn");
themeBtn.onclick = () => {
  themeBtn.classList.toggle("fa-sun");
  if (themeBtn.classList.contains("fa-sun")) {
    document.body.classList.add("changeTheme");
  } else {
    document.body.classList.remove("changeTheme");
  }
}
</script>
<div class="body-content">
    {% block content %}
    {% endblock %}
    <hr/>
    <footer>
        <p>&copy; 2024</p>
    </footer>
</div>
</body>
</html>